<%= link_to "+ Add a service", new_service_path %>
<h1>Resultats correpondants</h1>

<% @services.each do |service|  %>
<%# Changer en title une fois créé %>
  <h4><%= link_to service.title, service_path(service) %></h4>
  <p><%= service.specialty %></p>
<% end %>
