<div class="container">
  <%# <% if policy(Intervention).create? %>
    <%# <%= link_to "Add a intervention", new_intervention_path %>
  <%# <% end %>
  <h1>Mes interventions</h1>

  <% @interventions.each do |intervention|  %>
    <div class="card-product my-3">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <%= link_to intervention_path(intervention) do %>
        <h2 class='text-decoration-none text-black'> <%= "Intervention du #{intervention.date}" %> </h2>
        <% end %>
        <p><%= intervention.description %></p>
      </div>
    </div>
  <% end %>

</div>
