.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner-artesano.png');
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  text-align: center;
}

.banner h2{
font-size: 40px;
}

.banner h3{
  font-size: 30px;
}

.banner h4 {
  font-size: 30px;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.btn-ghost {
  color:white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  &:hover{
    color: rgba(255, 255, 255, 0.63);
  }
}

.inner-banner{
  align-items: center;
  justify-content:center;
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form-control{
  background-color:transparent;
  color: white;
}

.form-control:focus {
  background-color:transparent;
  color: white;
}

.form-select {
  background-color:transparent;
  background-image: asset_url("arrow.svg");
}

::-webkit-input-placeholder {
  color:white;
}

input::placeholder {
  color: white !important;
}

.input-loc {
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.select-spe {
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-image: white;
}

.cta-search {
  background-color: #D4A373;
  border-color: #D4A373;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 42px;
}

.cta-search:hover {
  color: white;
  background-color: #b17840;
  border-color: #b17840;
}
