.button-artesano {
  background-color: #D4A373;
  border-color: #D4A373;
  color: white;
  text-align: center;
}

.button-artesano:hover {
  background-color: #b17840;
  border-color: #b17840;
  color: white;
}

.button-edit {
  margin-left: 75px;
}
