 /* boutton commander */
a {
  align-items: right;
}
 .btn-medium {
  color: #535746;
  background-color: #D4A373;
  border: 1px solid #1b1811;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #D4A373;
  background-color: #E9EDC9;
}
