.button-create {
  background-color: #D4A373;
  // margin-left: 75px;
  border-color: #D4A373;
  justify-content: center;
}

.button-delete {
  background-color: #D4A373;
  //margin-left: 50px;
  border-color: #D4A373;
}

.add {
  background-color: #D4A373;
  border-color: #D4A373;
}

.button-edit {
  background-color: #b87b3f;
  margin-left: 75px;
  border-color: #b87b3f;
}

.button-create-intervention {
  background-color: #D4A373;
  border-color: #D4A373;
}

.button-edit-service {
  background-color: #D4A373;
  border-color: #D4A373;
  margin-left: 85px;
}

.button-signup {
  background-color: #D4A373;
  border-color: #D4A373;
  color: white;
}

.button-signup:hover {
  background-color: #CCD5AE;
  border-color: #CCD5AE;
}

.button-login {
  background-color: #D4A373;
  border-color: #D4A373;
}

.button-login:hover {
  background-color: #CCD5AE;
  border-color: #CCD5AE;
}
