.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.dropdown-menu-right {
  right: 0;
  left: auto !important;
}

.login-button {
  right: 0;
  left: auto;
  color: white;
  background-color: #D4A373;
  border-color: #D4A373;
}

.login-button:hover {
  background-color: #CCD5AE;
  border-color: #CCD5AE;
}

.service-button {
   right: 0;
  left: auto;
  color: white;
}
