.form-control#service_title:focus, #service_title {
  color: black;
}

.form-control#service_specialty:focus, #service_specialty {
  color: black;
}

.form-control#service_presentation:focus, #service_presentation {
  color: black;
}

.form-control#service_address:focus, #service_address {
  color: black;
}
